<head>
  <title>{{ site.data.resume.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.asset_url }}/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <link rel="icon" type="image/ico" href="{{ site.asset_url }}/favicon.ico"/>
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.asset_url }}/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.asset_url }}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.asset_url }}/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.asset_url }}/android-icon-192x192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.asset_url }}/apple-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/resume.css">
</head>